body{
   padding: 0%; 
   margin: 0%;
   background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjU2MmFhZjQtNWRiYi00NjAzLWEzMmItNmVmNmMyMjMwMTM2XC9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LOYKSxIDqfPwWHR0SSJ-ugGQ6bECF0yO6Cmc0F26CQs);
   background-size: cover;
   background-repeat:no-repeat ;
   background-position: center center;
}
.overlay{
  background-color: black;
  z-index: 1000px;
}
.ko{
display: flex;
align-items: center;
justify-content:space-around;
padding-bottom: 5px;
/* background-color: #7fffd4; */
}
.yu{    
width: 150px;   
}
.sign-btn{
justify-content: flex-end;    
height: 28px;        
background-color: #ff0000;
color: white;
border: none;
border-radius: 4px;
font-size: 15px;    
}
.sign-btn:hover{
    background-color: #ff0000c7;
    cursor: pointer;
}
.nxt{
/* background-color: black;  */
color: white;       
padding-left: 35%;
font-size: 3.5rem;
font-family: sans-serif;
font-weight: 900;
}
.gr{
/* background-color: purple; */
color: white;
padding-left: 40%;
font-size: 1.25rem; 
font-weight: 500; 
}
.gr2{
/* background-color: yellowgreen; */
color: rgb(255,255,255);
padding-left: 33%;
font-size: 1rem;
font-weight: 500;    
}
.hue{
display: flex;
align-items: center;
justify-content: center;
/* background-color: dodgerblue; */
gap: 7px;    
}
.hue input{
display: flex;    
width: 25%;
height: 45px;
border-radius: 4px;
border:none;
outline: none;
font-size: 16px;
padding-left:7px;
background-color: antiquewhite; 
}
.hue input:focus{
  border: 1px solid red;
}
.hue button{
display: flex;
width: 12%;
height: 50px;
border-radius:4px;
border:none;
outline: none;
font-size: 22px;
padding-top: 10px;
background-color: rgb(250, 52, 52);
color: white;    
}
.hue button:hover{
  background-color: rgb(190, 68, 68);
  cursor: pointer;  
}
