body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(31, 28, 28);
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjU2MmFhZjQtNWRiYi00NjAzLWEzMmItNmVmNmMyMjMwMTM2XC9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LOYKSxIDqfPwWHR0SSJ-ugGQ6bECF0yO6Cmc0F26CQs);
}
.Logo img{
    width: 200px;
    padding:10px 270px;
}
.content{
    /* background-color: aquamarine; */
    padding: 0px 500px;
    color: #fff;
}
.content h3{
    font-size: 28px;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}
.sign-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
   
}
.sign-box input{
    width:350px ;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 400;
}
.sign-box input:focus{
    outline: none;
}
.sign-box button{
    width:357px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    background-color: red;
    color: #fff;
    border-radius: 4px;
    border: none;
}
.sign-box button:hover{
    cursor: pointer;
    background-color: rgb(187, 79, 79);
}
.sign-code{
    display: flex;
    flex-direction: column;
}
.sign-code p{
 padding: 0px 160px;   
}
.sign-code button{
    width: 357px;
    height:40px ;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.4);
    opacity: 1;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.sign-code a{
    padding: 20px 100px;
    font-size: 20px;
    color: #fff;
}
.last div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heck{
    width: 16px;
    height: 16px;
}
.container span{
    font-size: 20px;
}
.demo-cnt{
    font-size: 18px;
}
.last{
    font-size: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.enquiry{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 10px;
   padding-left: 160px; 
}
.enquiry a{
    text-decoration: none;
}
.list ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 300px;
    gap: 50px;
    
}
.list ul li{
    list-style: none;
}
.list ul li a{
    color: #fff;
}

@media(max-width: 600px){
   body{
    background-image: none;
   } 
   section{
    font-size: medium;
   }
   .logo img{
    padding-left: 50px;
   }
   .enquiry{
    display: flex;
    flex-direction: column;
   }
}