body{
    padding: 0%;
    margin: 0%;
}
h6{ 
     background-color: blue;
    padding-left: 35%;
    font-size: 20px;
}
form{
    align-items:center;
    background-color: aquamarine ;
    padding-left: 40%;
   
}
.password{ display: flex;
    padding-top: 5px;
    height: 40px;
    width: 200%;
    outline: none;
}
.user{
   height: 80px;
   width: 100%;
   outline: none
}

.btn{
 margin:15px 45%;
 background-color: lab(82.61% -58.41 49.08);
 color: white;
 cursor: pointer;
 border: none;
 outline: none;

}
.btn:hover{
    background-color:grey ;
}
.Logo{
    width: 150px;
}   